@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.logo {
  width: 71px;
  height: 24px;
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1px;
  color: #ffffff;
}
.pragraph {
  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #aeafb4;
}

.copyright {
  border-top: 1px solid #aeafb4;
  padding: 20px 0px;
}
.inputGroup {
  /* Form */
  justify-content: space-between;
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 24px;
  gap: 10px;
  background: rgba(47, 50, 65, 0.5);
  border: 1px solid #34384c;
  border-radius: 12px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 81px;
  height: 47px;

  background: linear-gradient(
    265.56deg,
    #1b66f9 -0.27%,
    #1e68f6 -0.26%,
    #004bdb 98.59%
  );
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
