@tailwind base;
@tailwind components;
@tailwind utilities;

/* face font */

@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-MediumItalic.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  background-color: #000000;
  font-family: "Satoshi-Medium";
  color: #e6e6e6;
  overflow-x: hidden;
}
.title {
  color: rgba(174, 175, 180, 0.5);
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 0px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.heading {
  font-family: "Satoshi-Medium";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 56px;
  text-align: center;
  margin: 10px 0px;
  color: #e6e6e6;
}
.hero2 {
  background-image: url(../components//images/DecorativeLine.png);
}
/* ====Team Header Section Gredient ========== */

.team_services_section {
  background: radial-gradient(
    46.45% 35.45% at 50% 46.16%,
    rgba(1, 9, 80, 0.9) 3.12%,
    rgba(14, 17, 32, 0) 100%
  );
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .team_services_section {
    background: radial-gradient(
      113.45% 15.45% at 50% 64.16%,
      rgba(1, 9, 80, 0.9) 3.12%,
      rgba(14, 17, 32, 0) 100%
    );
  }
}

/* ------------------- */

/**
* ========================
* keyframe animatins
* ========================
**/

.float-right {
  animation: float-right 4.5s ease-in-out infinite;
}
.float-right {
  animation: float-left 4.5s ease-in-out infinite;
  width: 220px;
  height: 220px;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  position: absolute;
  top: 280px;
  left: 0;
  border-radius: 50%;
  background-color: blue;
  z-index: 1;
}
.float-right {
  animation: float-right 4.5s ease-in-out infinite;
}

@keyframes float-right {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30vw, 15vw);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes float-left {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-44vw, -10vw);
  }
  to {
    transform: translate(0, 0);
  }
}
