.heading {
  background: radial-gradient(
    51.45% 59.45% at 17% 34.16%,
    rgba(1, 9, 80, 0.9) -24.88%,
    rgba(14, 17, 32, 0) 115%
  );
  height: 80vh;
}
@media only screen and (max-width: 768px) {
  .heading {
    background: radial-gradient(
      62.45% 41.45% at 11% 34.16%,
      rgba(1, 9, 80, 0.9) -0.88%,
      rgba(14, 17, 32, 0) 127%
    );
    height: 50vh;
  }
}
