@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.heading {
  font-family: "Satoshi-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 77px;
  line-height: 88px;
  /* or 100% */

  letter-spacing: -4px;

  color: #ffffff;
}
.subHeading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #aeafb4;
}
.rightSide {
  background-image: url(../public/world.png);
  background-repeat: no-repeat;
  height: 555px;
}
