@font-face {
  font-family: "Satoshi-Black";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.heading {
  font-family: "Satoshi-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 130px;
  letter-spacing: -8px;
  color: #ffffff;
}
.subHeading {
  width: 757px;
  height: 60px;
  left: 342px;
  top: 308px;
  font-family: "Satoshi-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #e5e6ed;
}
.btn {
  padding: 12px 24px;
  height: 47px;
  background: linear-gradient(
    265.56deg,
    #1b66f9 -0.27%,
    #1e68f6 -0.26%,
    #004bdb 98.59%
  );
  border-radius: 29px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .heading {
    font-family: "Satoshi-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 51px;
    line-height: 56px;
    letter-spacing: -1px;
    color: #ffffff;
  }
  .subHeading {
    width: 100%;
    font-size: 15px;
    line-height: 21.6px;
    text-align: left;
    color: #aeafb4;
  }
  .btn {
    border-radius: 5px;
    font-size: 12px;
  }
  .w-\[75\%\] {
    width: 100%;
  }
}
