.title {
  font-size: 15px;
  line-height: 24px;
  color: #e6e6e6;
}
.description {
  font-size: 16px;
  line-height: 24px;
  color: rgba(174, 175, 180, 0.5);
}

.line {
  width: 80px;
  height: 4px;
  background: #e1eaf7;
  opacity: 0.15;
  margin: 18px 0;
}
