@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@400;500&display=swap");
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff2")
      format("woff2"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff")
      format("woff"),
    url("../public/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.name {
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}
.role {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.75;
  margin: 10px 0;
  font-size: 14px;
}

.gredient {
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.98) 0%,
    rgba(13, 13, 38, 0.16) 22%,
    rgba(6, 12, 57, 0.49) 42%,
    rgba(8, 13, 53, 0.39) 65%,
    rgba(0, 0, 0, 0.01) 85%
  );
}
